#
# Apache v2 license
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

services:
  db:
    container_name: pca-server-postgres
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /data/postgres
      POSTGRES_DB: itemtrxs
    volumes:
      - pgdata:/data/postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    networks: #Review because it needs to be external to sync with the remaining ones
      - app_network
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4
    container_name: pca-server-pgadmin4
    restart: always
    ports:
      - "${PGADMIN_WEBPORT}:80"
    networks: #Review because it needs to be external to sync with the remaining ones
      - app_network
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./servers.json:/pgadmin4/servers.json
  pca-server:
    image: pca-server-restx:0.0.1
    hostname: pca-server
    container_name: pca-server
    read_only: true
    security_opt:
      - no-new-privileges
    build:
      context: ..
      target: pca-server
      args:
        UID: ${UID} 
        USER: ${PCA_SERVER_USER} 
        BASE_IMAGE: "ubuntu:22.04"
        no_proxy: ${no_proxy}
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
    privileged: false
    tty: true
    entrypoint: ["./run.sh"]
    ports:
      - '${PCA_PORT}:5002'
    networks: #Review because it needs to be external to sync with the remaining ones
      - app_network
    environment:
      - no_proxy=$no_proxy
      - http_proxy=$http_proxy
      - https_proxy=$https_proxy
      # Default Detection and Classification Device
      - DETECTION_DEVICE=CPU
      - CLASSIFICATION_DEVICE=CPU
      - HTTPS=false # Make it "true" to enable SSL/TLS secure mode, mount the generated certificates
      - REST_SERVER_PORT=5002
      - SERVICE_NAME=pca-server
      - POSTGRES_DB=itemtrxs
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=pca-server-postgres
    volumes:
      - vol_pipeline_root:/var/cache/pipeline_root:uid=1999,gid=1999
      - "/run/udev:/run/udev:ro"
      - "/dev:/dev"
      - "/tmp:/tmp"
    group_add:
      # render group ID for ubuntu 20.04 host OS
      - "109"
      # render group ID for ubuntu 22.04 host OS
      - "110"
    device_cgroup_rules:
      # Default run - device-cgroup-rule='c 189:* rmw'
      # Selective rules can be applied for deployment
      - 'c 189:* rmw'
      - 'c 209:* rmw'
      - 'a 189:* rwm'
    devices:
      # Following devices under /dev filesystem will be needed based on usecase
      - "/dev:/dev"

networks:
  app_network:
    driver: bridge

volumes:
  vol_pipeline_root:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
  pgdata:
  pgadmin-data: