#
# Apache v2 license
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

services:
  bor-server:
    image: bor-server-restx:0.1.0
    hostname: bor-server
    container_name: bor-server
    security_opt:
      - no-new-privileges
    build:
      context: ..
      target: bor-server
      args:
        UID: ${UID} 
        USER: ${BOR_SERVER_USER} 
        BASE_IMAGE: "ubuntu:22.04"
        no_proxy: ${no_proxy}
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
    privileged: false
    tty: true
    entrypoint: ["./run.sh"]
    ports:
      - '${BOR_SERVER_PORT}:5014'
    networks: 
      - app_network
    environment:
      - no_proxy=${no_proxy},${MQTT_BROKER_HOST},${AIG_SERVER_HOST},${PCA_SERVER_HOST},bor-server
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}
      - SERVICE_NAME=bor-server
      - PCA_SERVER_PROTOCOL=${PCA_SERVER_PROTOCOL}
      - PCA_SERVER_HOST=${PCA_SERVER_HOST}
      - PCA_SERVER_PORT=${PCA_SERVER_PORT}
      - MQTT_BROKER_PROTOCOL=${MQTT_BROKER_PROTOCOL}
      - MQTT_BROKER_HOST=${MQTT_BROKER_HOST}
      - MQTT_BROKER_PORT=${MQTT_BROKER_PORT}
      - AIG_SERVER_PROTOCOL=${AIG_SERVER_PROTOCOL}
      - AIG_SERVER_HOST=${AIG_SERVER_HOST}
      - AIG_SERVER_PORT=${AIG_SERVER_PORT}
      - BOR_SERVER_PORT=${BOR_SERVER_PORT}
      - BOR_DEFAULT_PREF_DB=${BOR_DEFAULT_PREF_DB}
    volumes:
      - "/tmp:/tmp"
      - sqlite-data:/data
      - ./sharedata:/opt/sharedata
networks:
  app_network:
    external: true

volumes:
  sqlite-data:
