#
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

services:
  broker:
    image: eclipse-mosquitto
    hostname: mqtt
    container_name: mqtt_broker
    volumes:
      - ./mosquitto/config:/mosquitto/config
    ports:
      - "1883:1883"
    networks:
      - app_network
  
  dlstreamer-pipeline-server:
    image: intel/dlstreamer-pipeline-server:3.0.0
    hostname: dlstreamer-pipeline-server
    container_name: dlstreamer-pipeline-server
    read_only: true
    security_opt:
      - no-new-privileges
    privileged: false
    tty: true
    entrypoint: ["./run.sh"]
    ports:
      - "8080:8080"
      - "8554:8554"
    networks:
      - app_network
    environment:
      # MQTT
      - MQTT_HOST="mqtt"
      - MQTT_PORT=1883
      #RTSP
      - ENABLE_RTSP=true
      - RTSP_PORT=8554
      - ENABLE_WEBRTC=true
      - WEBRTC_SIGNALING_SERVER=http://${WHIP_SERVER_IP}:${WHIP_SERVER_PORT}      
      - no_proxy=$no_proxy,multimodal-data-visualization-streaming,${RTSP_CAMERA_IP},${OTEL_COLLECTOR_HOST},${S3_STORAGE_HOST}
      - http_proxy=$http_proxy
      - https_proxy=$https_proxy
      - RUN_MODE=EVA
      - GENICAM=Balluff
      - GST_DEBUG=1,gencamsrc:2
      # Default Detection and Classification Device
      - DETECTION_DEVICE=CPU
      - CLASSIFICATION_DEVICE=CPU
      - ADD_UTCTIME_TO_METADATA=true
      - LSFEATURE_NAME="EVAM"
      - HTTPS=false # Make it "true" to enable SSL/TLS secure mode, mount the generated certificates
      - MTLS_VERIFICATION=false # if HTTPS=true, enable/disable client certificate verification for mTLS
      # Model Registry Microservice
      - MR_VERIFY_CERT=/run/secrets/ModelRegistry_Server/ca-bundle.crt
      # Append pipeline name to a publisher topic
      - APPEND_PIPELINE_NAME_TO_PUBLISHER_TOPIC=false
      - REST_SERVER_PORT=8080
      - SERVICE_NAME=dlstreamer-pipeline-server      
    volumes:
      # - "../configs/default/config.json:/home/pipeline-server/config.json"
      - vol_pipeline_root:/var/cache/pipeline_root:uid=1999,gid=1999
      - "./certificates:/MqttCerts:ro"
      - "./certificates/ssl_server/:/run/secrets/DLStreamerPipelineServer_Server:ro"
      - "./certificates/model_registry/:/run/secrets/ModelRegistry_Server:ro"
      - "/run/udev:/run/udev:ro"
      - "/dev:/dev"
      - "/tmp:/tmp"
      - "./models/mr_models:/home/pipeline-server/mr_models:rw"
      - "./models/yolov11:/home/pipeline-server/yolo_models/yolo11s"
      - "./resources/videos:/home/pipeline-server/resources/externalvideos"
    group_add:
      # render group ID for ubuntu 20.04 host OS
      - "109"
      # render group ID for ubuntu 22.04 host OS
      - "110"
    device_cgroup_rules:
      # Default run - device-cgroup-rule='c 189:* rmw'
      # Selective rules can be applied for deployment
      - "c 189:* rmw"
      - "c 209:* rmw"
      - "a 189:* rwm"
    devices:
      # Following devices under /dev filesystem will be needed based on usecase
      # dri - GPU
      # USB camera devices
      # Selective mount can be done for deployment as mounting whole /dev is not recommended
      - "/dev:/dev"

networks:
  app_network:
    external: true

volumes:
  vol_pipeline_root:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
