#
# Apache v2 license
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

# Env variables for the AIG Server container

# User of PCA Server
AIG_SERVER_USER=intelmicroserviceuser
AIG_PORT=5003
UID=1000 #id -u mdivanko e.g.:#1999

AIG_LOGO_PATH='/opt/sharedata/sample_logo.png' # Path to Logo with transparent background (RGBA)
AIG_FONT_PATH='/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf' #Path to font in the Container
AIG_MODEL_PATH='/opt/models/dreamlike_anime_1_0_ov/FP16' # Text2Img model path
AIG_MODEL_NUM_INFERENCE_STEPS=20 # Number of inference steps for the model
AIG_IMG_WIDTH_DEFAULT=512 # Default image width for the model
AIG_IMG_HEIGHT_DEFAULT=512 # Default image height for the model

# ASE Variables
ASE_COLLECTION_NAME='ase-collection'
ASE_CHROMADB_PORT=5005 # Port for the ASE Chroma DB (externally)

# proxy settings
http_proxy=${http_proxy}
https_proxy=${https_proxy}
no_proxy=localhost,eii-nightly-devops.iind.intel.com,127.0.0.1